.git
.gitignore
.github

.venv
venv
__pycache__
*.py[cod]
*.egg-info

.pytest_cache
.mypy_cache
.ruff_cache
.coverage
htmlcov
build
dist

.env
.env.*
!.env.example

.vscode
.idea
*.swp
.DS_Store

Dockerfile
docker-compose*.yml
.dockerignore
